
		<hr>
		<footer class="footer">
			<div class="content">
				<p>
					This is an open source project.<br>
					You can access the application's source code <a href="https://github.com/boratanrikulu/quik.do">here</a>.<br>
				</p>
				<hr>
				<p>
					This site stores cookies to improve your user experience.<br>
					By logging into the site, you permit us to store data regarding your cookie.
				</p>
				<hr>
				<p>
					If you need to contact us for any reason, click <a href="https://bora.sh/contact">here</a>.
				</p>
			</div>
			<script src="/javascript/register.js"></script>
		</footer>
	</div> <!-- container end -->
</div>
</body>