
		<hr>
		<footer class="footer">
			<div class="content">
				<p>
					This is an open source project.<br>
					You can look at the application's source code at <a href="https://github.com/boratanrikulu/v">here</a>.<br>
				</p>
				<hr>
				<p>
					This site stores cookies to improve your user experience.<br>
					By logging into the site, you agree to the storage of cookies.
				</p>
				<hr>
				<p>
					If you need to contact us for a reason, click <a href="https://bora.sh/contact">here</a>.
				</p>
			</div>
		</footer>
	</div> <!-- container end -->
</div>
</body>